  body
  {
    background-color: #AA4A39;
    height: 100%;
  }
  body
  {
  }
  h1
  {
    font-size:12px;
  }
  .row
  {
    width: 390px;
  }
  .iconList
  {
  }
  button
  {
    width: 160px;
    height: auto;
    max-height: 50px;
    background-color: #FF7F67;
    border-color: #FE8D33;
  }
  #displayList
  {
    padding-left: 22px;
  }
  #displayList button
  {
    font-size: 14px;
    width: 170px;
    padding: 0px;
    margin: 5px;
  }
  #displayIconList
  {
    width: 100%;
  }
  #searchHeader
  {
    padding-left:20px;
  }
  #inputText
  {
    border-radius: 10px;
    height: 30px;
    width: 255px;
  }
  #amtSelect
  {
    width:40px;
    height: 30px;
    border-radius: 10px;
  }
  #inputDiv
  {
    padding: 5px;
  }
  #amtDiv
  {
    width: 40px;
    padding:5px;
    padding-left:15px;
  }
  #searchDiv
  {
    padding:5px;
    padding-left:15px;
  }
  #searchBtn
  {
    margin-left: 5px;
    padding-left: 5px;
    width:55px;
    border-radius:5px;
    height: 30px;
    font-family: 'PT Sans', sans-serif;
  }
  #displayIconList
  {
    background-color: #801515;
  }
  .removeButton
  {
    background-color: black;
  }
  #fishieboye
  {
    width: 200px;
  }
  #footer
  {
    padding-top: 315px;
  }
  #speechIcon
  {
    width: 180px;
    padding-top:20px;
  }
  #speechText
  {
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    margin-left:30px;
    padding-top:5px;
    position:absolute;
    top:10px;
    left:0;
    width:100%;
  }
  #footerText
  {
    color: white;
    margin-top: 0px;
    font-family: 'PT Sans', sans-serif;
    font-size:12px;
    margin-left: 30px;
    padding-right: 0px;
  }
  #titleHeader
  {
    color: gold;
    font-size:42px;
    font-family: 'Unica One', cursive;
    padding-left: 40px;
  }
  #headerBG
  {
    background-color: #801515;
  }
  #headerContainer
  {
    background-color: #661010;
  }
  .deleteBtn
  {
    width:20px;
    height:20px;
    padding-left:0px;
    float:right;
    margin-top:5px;
    border-radius:5px;
    margin-right: 10px;
    border:0;
    background-image: url("xivImages/icons/066309.png");
    background-size: cover;
  }
  .cDeleteBtn
  {
    width:20px;
    height:20px;
    padding-left:0px;
    float:right;
    margin-top:18px;
    border-radius:5px;
    margin-right: 10px;
    border:0;
    background-image: url("xivImages/icons/066309.png");
    background-size: cover;
  }

  .itemName
  {
    font-size: 13px;float:left;padding-left:10px;margin-top:8px;color: white;font-family: 'PT Sans', sans-serif;
  }
  .cItemName
  {
    font-size: 18px;
    float:left;
    padding-left:10px;
    margin-top:20px;
    color:gold;
    font-family: 'PT Sans', sans-serif;
  }
  .itemAmt
  {
font-size: 15px;float:right;padding-right:15px;padding-top:8px;margin-top:0px;color: white;font-family: 'PT Sans', sans-serif;
  }
  .cItemAmt
  {
    font-size: 18px;float:right;margin-top:20x;color:gold;font-family: 'PT Sans', sans-serif;padding-right:13px;
  }
  .itemContainer
  {
    padding-top:2px;font-size:12px;background-color:#aa4a39;margin-top:5px;margin-bottom:5px;height:30px;padding:0px;padding-left:25px;
  }
  .cItemContainer
  {
margin-top:0%;font-size: 12px;margin-bottom:0px;padding:0px;padding-left:15px;height:10%;background-color:#661010;
  }
  .itemImg
  {
    float:left;width:20px;padding-top:3px;
  }
  .cItemImg
  {
    float:left;margin-top:10px;margin-left: 10px;
  }
  .buttonFont
  {
    margin-top:0px;color: black;font-family: 'PT Sans', sans-serif;word-wrap:break-word;font-size:16px;
  }
  .addBtn
  {
    width:20px;
    height:20px;
    padding-left:0px;
    float:right;
    margin-top:5px;
    border-radius:5px;
    margin-right: 10px;
    border:0;
    background-image: url("xivImages/icons/066315.png");
    background-size: cover;
  }
  .subBtn
  {
    width:20px;
    height:20px;
    padding-left:0px;
    float:right;
    margin-top:5px;
    border-radius:5px;
    margin-right: 10px;
    border:0;
    background-image: url("xivImages/icons/066316.png");
    background-size: cover;
  }
  .CaddBtn
  {
    width:20px;
    height:20px;
    padding-left:0px;
    float:right;
    margin-top:18px;
    border-radius:5px;
    margin-right: 10px;
    border:0;
    background-image: url("xivImages/icons/066315.png");
    background-size: cover;
  }
  .CsubBtn
  {
    width:20px;
    height:20px;
    padding-left:0px;
    float:right;
    margin-top:18px;
    border-radius:5px;
    margin-right: 10px;
    border:0;
    background-image: url("xivImages/icons/066316.png");
    background-size: cover;
  }
