html,
body {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
}
nav
{
}
nav ul {
  text-align: left;
  position: fixed;
  width: 100%;
  background-color: #333;
}

nav ul li {
  display: inline-block;
  margin: -5px;
  margin-bottom: 13px;
  margin-top: 15px;
}

nav ul li a {
  color: #f2f2f2;
  padding: 14px 15px;
  text-decoration: none;
}

nav ul li a:hover {
  color: black;
  background-color: #ddd;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: red;
  color: red;
}
.active
{
  background-color: #86C232;
  color: white;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
.welcome-section
{
  background-color: #222629;
  font-family: Oswald;
  letter-spacing: 4px;
  top: 0;
  min-height: 55vh;
  padding-top: 45vh;
}
.tile
{
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  display: inline-block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  height: 250px;
  font-size: 16px;

  background-color: grey;
  background-image: url("https://www.w3schools.com/images/colorpicker.gif");
  border-radius: 20px;
}
.tile:hover
{
  opacity: 0.75;
}
.contact
{
  font-size: 12px;
  background: #222629;
}
.projects
{
  background: #474B4F;
}
.footer
{
  background: #6B6E70;
  height: 200px;
}
.footer h1
{
  font-size: 20px;
  padding-top: 20px;
  font-family: Oswald;
  color: #86C232;
}
h1
{
  font-size: 40px;
}
h2
{
  font-family: Oswald;
  letter-spacing: 2px;
  padding-top: 20px;
  background: #474B4F;
  font-size: 30px;
}
h3
{
  background: #a4b7d4;
}
.project-title
{
  padding-top: 260px;
  font-size: 16px;
  color: #86C232;
  font-weight: bold;
  decoration: none;
}
a:link {
  text-decoration: none;
  color: grey;
}
a{
  color:grey;
}
.profile-link
{
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  display: inline-block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  font-size: 16px;
   border-radius: 40px;
  background-color: grey;
}
.profile-link:hover
{
  opacity: 0.75;
}

hr
{
  padding-top: 0px;

}
